[**nextjs-template**](../../../../../../README.md)

---

[nextjs-template](../../../../../../README.md) / [src/server/db/schemas/auth](../README.md) / verification

# Variable: verification

```ts
const verification: PgTableWithColumns<{}>;
```

Defined in: [src/server/db/schemas/auth.ts:51](https://github.com/Its-Satyajit/nextjs-template/blob/a020f2e64682696d16eea8be5c54d400aa09764e/src/server/db/schemas/auth.ts#L51)
