[**nextjs-template**](README.md)

---

[nextjs-template](README.md) / [src/server/db/schemas/auth](src.server.db.schemas.auth.md) / verification

# Variable: verification

```ts
const verification: PgTableWithColumns<{}>;
```

Defined in: [src/server/db/schemas/auth.ts:51](https://github.com/Its-Satyajit/nextjs-template/blob/c8d81b09293d759cbf04e9bc7e542cc7d90740e6/src/server/db/schemas/auth.ts#L51)
